body {
    font-family: Arial, sans-serif; /* Cambiar la fuente del texto */
    margin: 0; /* Eliminar los márgenes predeterminados */
    padding: 0; /* Eliminar el relleno predeterminado */
    background-color: #f0f0f0; /* Color de fondo */
}

.container {
    width: 80%; /* Ancho del contenedor principal */
    margin: 20px auto; /* Centrar el contenedor */
    background-color: #fff; /* Color de fondo del contenedor */
    padding: 20px; /* Relleno del contenedor */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

h1 {
    text-align: center; /* Centrar el encabezado */
    color: #6b686a; /* Color del texto */
}

table {
    width: 100%; /* Ancho de la tabla */
    border-collapse: collapse; /* Colapso de bordes */
}

th, td {
    padding: 8px; /* Relleno de las celdas */
    text-align: left; /* Alineación del texto */
    border-bottom: 1px solid #ddd; /* Borde inferior */
}

th {
    background-color: #f2f2f2; /* Color de fondo del encabezado */
}

/* Css para las imagenen del carrusel*/

/* .carousel-item {
    height: 65vh; 
} */

.carousel-item img {
    width: 100%; /* Esto garantiza que la imagen sea tan ancha como su contenedor */
    height: 100%; /* Esto garantiza que la imagen sea tan alta como su contenedor */
    object-fit: cover; /* Esto recorta la imagen para cubrir el área disponible, podría recortar partes de la imagen */
}



/* Estilos para pantallas medianas */
@media (min-width: 768px) {
  .custom-carousel .carousel-item {
    height: 400px; /* Altura para dispositivos medianos */
  }
}

/* Estilos para pantallas grandes */
@media (min-width: 992px) {
  .custom-carousel .carousel-item {
    height: 500px; /* Altura para dispositivos grandes */
  }
}

/* Estilos para pantallas muy grandes */
@media (min-width: 1200px) {
  .custom-carousel .carousel-item {
    height: 600px; /* Altura para dispositivos muy grandes */
  }
}

/* Css para las imagenen del logo */
.navbar-brand {
    display: flex;
    align-items: center;
    height: 100%;
}

/* Asegúrate de que la imagen del logo no sea demasiado grande */
.img-logo {
    max-height: 100px; /* Ajusta esto según el tamaño deseado */
    width: auto;
}


/* Estilos para los enlaces del menú */
/* Estilos para los enlaces del menú */
.navbar-nav .nav-link {
    transition: all 0.3s ease; /* Para un efecto suave al aplicar el subrayado */
    border-bottom: 2px solid transparent; /* Prepara un borde transparente para evitar saltos visuales al hacer hover */
}

/* Estilos para el estado hover de los enlaces del menú */
.navbar-nav .nav-link:hover {
    border-bottom-color: green; /* Cambia el color del borde a verde al hacer hover */
}






