body {
    font-family: Arial, sans-serif; /* Cambiar la fuente del texto */
    margin: 0; /* Eliminar los márgenes predeterminados */
    padding: 0; /* Eliminar el relleno predeterminado */
    background-color: #f0f0f0; /* Color de fondo */
}

.container {
    width: 80%; /* Ancho del contenedor principal */
    margin: 20px auto; /* Centrar el contenedor */
    background-color: #fff; /* Color de fondo del contenedor */
    padding: 20px; /* Relleno del contenedor */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

h1 {
    text-align: center; /* Centrar el encabezado */
    color: #ec21b3; /* Color del texto */
}

table {
    width: 100%; /* Ancho de la tabla */
    border-collapse: collapse; /* Colapso de bordes */
}

th, td {
    padding: 8px; /* Relleno de las celdas */
    text-align: left; /* Alineación del texto */
    border-bottom: 1px solid #ddd; /* Borde inferior */
}

th {
    background-color: #f2f2f2; /* Color de fondo del encabezado */
}
